.container {
    border-bottom: 1px solid #dddddd;
    &:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    &.active-row {
        font-weight: bold;
        color: #009879;
    }

    &:last-of-type {
        border-bottom: 2px solid #009879;
    }

    >td {
        text-align: center;
        padding: 12px 0px;

        &:nth-child(1) {
            max-width: 100px;
            min-width: 100px;
        }
        &:nth-child(2) {
            max-width: 100px;
            min-width: 100px;
        }
        &:nth-child(3) {
            max-width: 300px;
            min-width: 300px;
        }

        .editDescription {
            width: 100%;
        }
    }
}