.container {
    z-index: 1;
    width: 100%;
    background-color: gray;
    border: 1px solid black;
    padding: 4px 8px 4px 8px;
    position: sticky;
    display: flex;
    justify-content: center;
    
    .link {
        text-align: center;
        padding: 0px 5px 0px 5px;
        text-decoration: none;
        position: relative;
        color: white;
        padding: 0px 10px;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
    }
}